@media (min-width: 960px) {
  .risk-list table .compact-row {
      display: none;
  }
}

.risk-list {
    padding: 0 30px;
}

.risk-list .controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.risk-list .controls .filter {
    flex-basis: 33%;
    flex-grow: 0;
}
.risk-list .controls .buttons {
    flex-grow: 1;
    display: inline-flex;
    justify-content: flex-end;
    height: 38px;
}
.risk-list .controls .buttons a span {
    margin-left: 8px;
}

.risk-list table {
    width: 100%;
}
.risk-list table mat-chip {
    width: 76px;
}
.risk-list table .assessment-row:hover,
.risk-list table .compact-row:hover {
    background: #f5f5f5;
}
.risk-list table {
    table-layout: fixed;
}
.risk-list table td.text {
    vertical-align: top;
    padding-top: 12px;
    padding-bottom: 6px;
    padding-right: 12px;
}
.risk-list table td.chip {
    vertical-align: top;
    padding-top: 7px;
}
.risk-list table td.button {
    vertical-align: top;
    padding-top: 3px;
}
.risk-list table .risk-type-column {
    width: 160px;
}
.risk-list table .severity-column {
    width: 88px;
}
.risk-list table .delete-column {
    width: 48px;
}

@media (max-width: 960px) {
    .risk-list table {
        table-layout: auto;
    }

    .risk-list table .assessment-row td {
        border-bottom: 0;
    }
    .risk-list table .compact-row td {
        border-top: 0;
    }
    .risk-list table .compact-row mat-chip-list {
        float: right;
    }
 
    .risk-list table td.text {
        width: 40%;
    }
    .risk-list table .risk-type-column {
        width: 20%;
    }
    .risk-list table .chip,
    .risk-list table .button,
    .risk-list table .severity-column,
    .risk-list table .delete-column {
        display: none;
        width: 0;
    }
}

@media (max-width: 600px) {
    .risk-list .controls {
        flex-direction: column;
    }
    .risk-list .controls .buttons {
        align-self: flex-end;
    }

    .risk-list table mat-chip {
        font-size: 75%;
        width: 64px;
    }
}