.toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar-icon {
    padding: 0 14px;
}

.spacer {
    height: 16px;
}