.risk-view {
    padding: 0 30px;
}
.risk-view h2 {
    margin-bottom: 12px;
}
.risk-view mat-divider {
    margin: 4px 0;
}

.risk-view .definition {
    display: flex;
    flex-direction: row;
}
.risk-view mat-form-field {
    padding: 0 12px;
    vertical-align: top;
}
.risk-view mat-form-field.text {
    flex-basis: 200px;
    flex-grow: 1;
}
.risk-view mat-form-field.risk-type {
    flex-basis: 180px;
    flex-grow: 0;
}
.risk-view mat-chip {
    margin: 0 20px;
    font-size: 150%;
}

.risk-view textarea {
    resize: none;
}

.risk-view mat-selection-list {
    padding-top: 0;
}

.risk-view mat-list-option {
    height: 30px;
}

.risk-view .formula {
    font-size: 200%;
}

@media (max-width: 800px) {
    .risk-view {
        padding: 0;
    }
    .risk-view .definition {
        flex-direction: column;
    }
    .risk-view mat-form-field.text {
        flex-basis: 0;
    }
    .risk-view mat-form-field.risk-type {
        flex-basis: 0;
    }
    .risk-view mat-list-option {
        font-size: 90%;
    }
    .risk-view mat-chip {
        margin: 0 10px;
        font-size: 100%;
    }
    .risk-view .formula {
        font-size: 100%;
    }
}

@media (max-width: 600px) {
    .risk-view mat-list-option {
        line-height: 100%;
        font-size: 80%;
    }
    .risk-view mat-chip {
        margin: 0 5px;
        font-size: 75%;
    }
    .risk-view .formula {
        font-size: 75%;
    }
}