.risk-delete-dialog {
    width: 600px;
}

.risk-delete-dialog .label {
    font-weight: bold;
}
.risk-delete-dialog .value {
    font-style: italic;
    display: block;
    padding-left: 15px;
}

@media (max-width: 800px) {
    .risk-delete-dialog {
        width: 480px;
    }
}

@media (max-width: 600px) {
    .risk-delete-dialog {
        width: 100%;
    }
}